{{ if .bundles.ops -}}
#!/bin/bash
# ops bundle: helm chart repos.
# List empty until the union of both machines is reviewed for private/dead URLs.
set -eu
{{ range .packages.bundles.ops.helmRepos -}}
helm repo add {{ .name | quote }} {{ .url | quote }}
{{ end -}}
{{ end -}}
