{
  "$schema": "https://opencode.ai/config.json",
  "instructions": [
    "~/.config/opencode/opencode-rules.md"
  ],
  "disabled_providers": [
    "opencode"
  ]{{ if index .bundles "hindsight" }},
  "plugin": [
    "{{ .chezmoi.homeDir }}/.hindsight/coding-agents"
  ]{{ end }}
}
